@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Base Styles */

/* About Page Styles */
#ap-sidebar {
  background: linear-gradient(to top, #e9462e, #aa1e5d, #630531, #2c202d);
}
#carousel {
  width: 85%;
  overflow: hidden;
  display: flex;
  white-space: no-wrap;
  /* border: 1px solid yellow; */

  filter: drop-shadow(0 0 2em #e9462e);
}
#skillset-title {
  filter: drop-shadow(0 0 2em #e9462e);
  text-shadow: 0px 0px 5px #e9462e;
}
#education-title {
  filter: drop-shadow(0 0 2em #e9462e);
  text-shadow: 0px 0px 5px #e9462e;
}
#about-icons-container {
  /* border: 1px solid red; */
  filter: drop-shadow(0 0 2em #e9462e);
  text-shadow: 0px 0px 5px #e9462e;
}

/* Animations */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Responsive Design */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .list-items {
    margin-top: 15px;
    gap: 30px;
  }
  .carousel-slide {
    border: 1px solid white;
    height: 60px;
    animation: 5s slide infinite linear;
  }
  .carousel-child {
    transform: scale(3);
    align-self: center;
    margin: 0 20px;
  }
  .about-icons {
    transform: scale(4);
    margin: 10px 60px;
  }

  #Aboutpage {
    position: relative;
    height: 1890px;
  }
  #about-logo {
    position: relative;
    width: 50px;
    height: 50px;
    transform: scale(1.5);
  }
  #ap-sidebar {
    position: absolute;
    left: 0px;
    width: 5px;
    z-index: 3;
    height: 100%;
  }

  #carousel {
    height: 60px;
    margin-left: 20px;
  }

  #skillset {
    padding-left: 20px;
    margin-top: 60px;
    /* border: 1px solid red; */
    height: 500px;
  }
  #skillset-title {
    margin-bottom: 20px;
  }
  #skill-list {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  #title-section {
    display: relative;
    height: 200px;

    padding-top: 35%;
    padding-left: 20px;
  }

  #education {
    padding-left: 20px;
    margin-top: 70px;
    /* border: 1px solid red; */
  }
  #education-list {
    flex-direction: column;
    gap: 15px;
  }
  #education-paragraph {
    width: 95%;
  }
  #education-title {
    margin-bottom: 30px;
  }
  #school-list {
    margin-bottom: 10px;
  }
  #school-list > * {
    /* border: 1px solid gold; */
  }
  #d1 {
    margin-left: 30%;
  }
  #d2 {
    margin-left: 26%;
  }
  #d3 {
    margin-left: 15%;
  }

  #awards {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 110px;
  }
  #award-list > * {
  }
  #about-icons-container {
    margin-top: 50px;
    padding-left: 12%;
  }
  #a1 {
    margin-left: 45%;
  }
  #a2 {
    margin-left: 27%;
  }
  #a3 {
    margin-left: 45%;
  }
  #a4 {
    margin-left: 27%;
  }
} /* Phones */
@media only screen and (min-width: 600px) {
} /* Tablets */
@media only screen and (min-width: 768px) {
} /* Large Tablets */
@media only screen and (min-width: 992px) {
} /* Laptops */
@media only screen and (min-width: 1200px) {
} /* Large Laptops */
